/static
/node_modules
*.sublime-project
*.sublime-workspace
.DS_Store
npm-debug.log
.elasticbeanstalk/
.ebextensions/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
