$bg_color: #fff;
$header_color: #773e0d;
$border_color: rgba(120,120,120,0.7);
$registry_bg_color: #efd6c2;

$active_color: #d68604;


$theme-colors: (
	"info": #537577,
	"danger": #72030a,
	"success": #118734,
	"dark": #07383a,
	"primary": #824500
);