@import "variables";
@import "window";
@import "navbar";
@import "page";
@import "node_modules/bootstrap/scss/bootstrap";

#joyce_reader {
	overflow: hidden;
	width: 95%;
    height: 100%;
    background-color: rgba(256,256,256,0.5);
    border-left: 1px solid $border_color;
    border-right: 1px solid $border_color;	
}

#joyce_reader > div {
	margin-top: 0.5em;
}
