@import "variables";
// @import "window";
@import "navbar";
// @import "page";
@import "node_modules/bootstrap/scss/bootstrap";

html {
	height: 100%;
}

html body {
	height: 100%;
	margin: 0;
	padding-top: 62px;
	background-color: $bg_color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#weddingNav {
	background-color: $bg_color !important;
}

#navbarItems > .navbar-nav > .nav-item > a.active {
	color: $active_color;
	text-shadow: rgba(104, 61, 5, .2) 0 0 1px;
}

#navbar_home_link {
	color: $active_color;
	text-shadow: rgba(104, 61, 5, .2) 0 0 1px;
}

.navbar-nav > li > a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

h4 {
	font-size: 1em;
}

#wrapper {
	height: 100%;
}

#wrapper > div {
	height: 100%;
}

.content {
    height: 100%;
    min-height: 100%;
}

.jumbotron.jumbotron_main {
	margin-bottom: 0;
	align-items: center;
	text-align: center;
	color: white;
}

.jumbotron_contents {
	margin: 0 auto;
}

.jumbotron_contents {
	h1 {
		font-weight: 100;
	}
	h3 {
		// font-family: 'Times New Roman, serif'
		font-weight: 100;
	}
	h4 {
		font-family: 'Times New Roman, serif'
	}
}

.parallax-window {
    background-color: rgba(153, 88, 3, .5);
}

.flex-grow {
    flex: 1 0 auto;
}

span.anchor {
    margin-top: -62px;
    display: block;
    height: 62px;
    visibility: hidden;
    position: relative;
}

section {
	background-color: $bg_color;
}

.section_divider {
    background-color: rgba(200, 200, 200, 0.5);
    margin: 5px auto 15px auto;
    display: block;
    width: 35px;
    height: 2px;
}

.section_contents {
	margin: 0 auto;
}

.section_header {
	h4 {
		font-size: 1.5em;
		font-family: 'Times New Roman, serif';
		color: $header_color;
	}
}

.section_body {
	ul {
		font-size: .9em;
	}
}

#☭ {
	font-size: .7em;
	text-align: center;
}

.anchor_tag {
	margin-top: -262px;
}

//
// Images
//

#image_ste_inline {
	border-radius: 50%;
	border: .3em double $border_color;
}

.section_image > img{
	max-height: 60%;
	max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;	
}

.hotel_header {
	text-align: center;
	font-size: 1rem;
}

.hotel_image {
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	img {
		max-width: 72%;
		max-height: 72%;	
		margin: 0 auto;
	    display: block;
		border-radius: 50%;
		border: .3em double $border_color;	
	}
}

//
// Registry Icons
// 

.registry_box {
	height: 100%;
	background-color: $registry_bg_color;
	border: .3em double $border_color;
	border-radius: 10%;
	a {
		display: block;
	}
	img {
		margin: 0 auto;
	}
}

.rsvp_box {
	a {
		display: block;
		margin: 0 auto 50px auto;
	}
}

// @media (min-width: 858px) {
//     html {
//         font-size: 12px;
//     }
// }

// @media (min-width: 780px) {
//     html {
//         font-size: 11px;
//     }
// }

// @media (min-width: 702px) {
//     html {
//         font-size: 10px;
//     }
// }

// @media (min-width: 724px) {
//     html {
//         font-size: 9px;
//     }
// }

// @media (max-width: 623px) {
//     html {
//         font-size: 8px;
//     }
// }