@import "variables";
// @import "window";
@import "navbar";
// @import "page";
@import "node_modules/bootstrap/scss/bootstrap";

html {
	height: 100%;
}

html body {
	height: 100%;
	margin: 0;
	padding-top: 62px;
	background-color: $bg_color;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#navbarItems > .navbar-nav > .nav-item > a.active {
	color: $active_color;
	text-shadow: rgba(104, 61, 5, .2) 0 0 1px;
}

#navbar_home_link {
	color: $active_color;
	text-shadow: rgba(104, 61, 5, .2) 0 0 1px;
}

.navbar-nav > li > a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

h4 {
	font-size: 1em;
}

#wrapper {
	height: 100%;
}

#wrapper > div {
	// height: 100%;
	// overflow: hidden;
}

.content {
    height: 100%;
    min-height: 100%;
    overflow: auto;	
}

.jumbotron.jumbotron_main {
	margin-bottom: 0;
	align-items: center;
	text-align: center;
	color: white;
}

.jumbotron_contents {
	margin: 0 auto;
}

.parallax-window {
    background-color: rgba(153, 88, 3, .5);
}

.flex-grow {
    flex: 1 0 auto;
}

section {
	background-color: $bg_color;
	padding: 50px 0 10px 0;
}

.section_divider {
    background-color: rgba(200, 200, 200, 0.5);
    margin: 25px auto 25px auto;
    display: block;
    width: 35px;
    height: 2px;
}

.section_padding {
    padding: 130px 0;
}

.section_contents {
	margin: 0 auto;
}

.section_header {
	h4 {
		font-size: 1.5em;
		font-family: 'Times New Roman, serif'
	}
}